Web-client/node_modules/
./Backend/src/main/resources/META-INF/persistence.xml
Backend/src/main/resources/META-INF/persistence.xml
Web-client/package-lock.json
Web-client/package.json
App/node_modules/