body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.compared-cars-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.car-being-compared {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.h3{
  border: solid black 1px;
/* margin-right: 30%;*/

}